/* fonts - ubuntu, roboto, lato */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Ubuntu&display=swap");

:root {
  --ubuntu: "Ubuntu", sans-serif;
  --lato: "Lato", sans-serif;
  --roboto: "Roboto", sans-serif;

  --theme-primary: #4338ca;
  --theme-secondary: #6366f1;
  --bg-primary: #262626;
  --bg-alternate: #f5f5f5;
  --text-primary: #fafafa;
  --text-alternate: #171717;
  --custom-rating-gold: #f5c634;
  --custom-heart: #ef4444;
  --custom-product-background: #f6f6f6;

  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
  --space-xl: 5rem;

  --font-xs: 0.5rem;
  --font-s: 0.75rem;
  --font-m: 1rem;
  --font-ml: 1.2rem;
  --font-l: 1.5rem;
  --font-xl: 2rem;
  --font-xxl: 2.5rem;

  --line-thin: 0.063rem;
  --line-medium: 0.125rem;
  --line-thick: 0.188rem;

  --z-10: 10;
}

html {
  height: auto;

  background-color: var(--bg-primary);
  color: var(--text-primary);

  font-family: var(--roboto);
}

body {
  margin: 0;

  width: 100%;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------- */
/* alert */

.alert {
  padding: var(--space-m);

  border-radius: 0.3rem;

  font-weight: 500;
}

.alert-primary {
  background: #bae6fd;
  color: #075985;
}

.alert-secondary {
  background: #e4e4e7;
  color: #27272a;
}

.alert-success {
  background: #bbf7d0;
  color: #166534;
}

.alert-error {
  background: #fecaca;
  color: #991b1b;
}

.alert-warning {
  background: #fef08a;
  color: #854d0e;
}

/* ----------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------- */
/* avatar */
.avatar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: var(--theme-primary);
  overflow: hidden;
}

.avatar > img {
  width: 100%;
  height: auto;
}

.avatar-text {
  background-color: var(--theme-primary);

  font-size: var(--font-xxl);
}

/* ---------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------- */
/* badge */
.badge {
  z-index: 100;

  border: none;
  border-radius: 0.3rem;

  background-color: var(--theme-primary);
  color: var(--text-primary);

  font-weight: bolder;
}

.badge-text {
  min-width: 50px;
  width: 50px;
  height: 1.5rem;
  padding: var(--space-xs) var(--space-s);
}

.badge-notification {
  width: 1rem;
  height: 1rem;
  padding: var(--space-s);

  position: absolute;
  top: -0.3rem;
  right: -0.5rem;

  border-radius: 1rem;
}

.avatar-badge {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: var(--theme-primary);
}

.avatar-badge > img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

/* --------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------- */
/* button */
.button {
  padding: var(--space-xs) var(--space-s);

  border-radius: 0.3rem;

  cursor: pointer;

  font-size: var(--font-s);
  font-weight: bold;
  font-family: var(--lato);
}

.button-primary {
  background-color: var(--theme-primary);
  color: var(--text-secondary);
  border: var(--line-medium) solid var(--theme-primary);
}

.button-secondary {
  border: var(--line-medium) solid var(--theme-secondary);
  background-color: var(--bg-primary);
  color: var(--theme-secondary);
}

.button-icon {
  padding: 0;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--theme-primary);
  font-size: var(--font-l);
}

/* --------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------- */
/* card */
.card {
  height: 40vw;
  border: var(--line-thin) solid var(--bg-alternate);
}

/* card-product-horizontal */
.card-product-horizontal {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.card-product-container-image {
  position: relative;
  width: 40vw;
  background: var(--custom-product-background);
}

.card-product-image {
  height: 100%;
  max-width: 40vw;
}

.card-product-wishlist {
  position: absolute;
  bottom: var(--space-s);
  right: var(--space-xs);
  color: var(--custom-heart);
  font-size: var(--font-ml);
  cursor: pointer;
}

.card-product-description {
  width: 100%;
  padding: var(--space-s);
}

.card-product-name {
  font-size: var(--font-m);
}

.card-product-rating {
  margin-left: -0.25rem;
}

.card-product-container-price {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.card-product-discounted-price {
  font-size: var(--font-m);
}

.card-product-original-price {
  margin: var(--space-s);
  font-size: var(--font-s);
  text-decoration: line-through;
}

.card-product-discount {
  font-size: var(--font-s);
}

.cart-product-primary-button-icon {
  display: inline-block;
  margin-right: var(--space-xs);
  transform: translateY(10%);
}

.card-product-primary-button {
  position: absolute;
  bottom: var(--space-s);
}

.card-product-horizontal-container-quantity {
  position: absolute;
  bottom: var(--space-s);
  border: var(--line-medium) solid var(--bg-alternate);
  border-radius: 0.5rem;
  width: fit-content;
}

.card-product-horizontal-quantity-action {
  background-color: var(--bg-alternate);
  color: var(--text-alternate);
  /* padding: var(--space-xs); */
}

.card-product-horizontal-quantity {
  padding: var(--space-xs) var(--space-m);
  font-size: var(--font-s);
}

/* --------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------- */
/* cart item card */

.card-cart-item {
  height: 55vw;
  width: 99.75%;
}

.card-cart-item-container-item {
  width: 100%;
  display: flex;
}

.card-cart-container-item-image {
  width: 40vw;
  height: 40vw;
  background-color: var(--custom-product-background);
}

.card-cart-item-image {
  height: 100%;
}

.card-cart-item-description {
  padding: var(--space-s);
}

.card-cart-item-name {
  font-size: var(--font-m);
}

.card-cart-item-price {
  margin: var(--space-s) var(--space-s) var(--space-s) 0;
  font-size: var(--font-l);
  font-weight: bolder;
}

.card-cart-item-seller {
  font-size: var(--font-m);
}

.card-cart-item-actions-mobile {
  width: 100%;
  height: 15vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-cart-item-container-quantity {
  border: var(--line-medium) solid var(--bg-alternate);
  border-radius: 0.5rem;
}

.card-cart-item-actions-desktop {
  display: none;
}

.card-cart-item-quantity-action {
  background-color: var(--bg-alternate);
  color: var(--text-alternate);
  padding: var(--space-xs);
  height: 100%;
}

.card-cart-item-quantity {
  padding: var(--space-xs) var(--space-m);
  font-size: var(--font-ml);
}

.card-cart-item-delete {
  font-size: var(--font-m);
  padding: var(--space-s) var(--space-l);
}

/* --------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------- */
/* rating */
.rating {
  color: var(--custom-rating-gold);
  font-size: var(--font-m);
}

/* --------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------- */
/* top-navbar */
.top-navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--theme-secondary);
  z-index: var(--z-10);
}

.top-navbar-mobile-menu {
  display: block;
  margin: var(--space-s);
  font-size: var(--font-l);
  transform: translateY(10%);
  cursor: pointer;
}

.top-navbar-button-brand {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  font-size: var(--font-ml);
  font-family: var(--ubuntu);
  font-weight: bolder;
  color: var(--text-primary);
}

.spacer {
  width: 100%;
}

.top-navbar-actions {
  display: flex;
  flex-direction: row;
}

.top-navbar-icon {
  margin: var(--space-xs);
  color: var(--text-primary);
}

/* --------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------- */
/* reponsiveness */
@media (min-width: 768px) {
  /* button */
  .button {
    padding: var(--space-s) var(--space-m);
    font-size: var(--font-m);
  }

  .button-icon {
    padding: 0;
    font-size: var(--font-xl);
  }

  /* card */
  .card {
    height: 35vh;
  }

  /* card-product-horizontal */
  .card-product-container-image {
    width: 35vh;
  }

  .card-product-image {
    height: 100%;
    max-width: 35vh;
  }

  .card-product-wishlist {
    font-size: var(--font-l);
  }

  .card-product-description {
    padding: var(--space-m);
  }

  .card-product-name {
    font-size: var(--font-ml);
  }

  .card-product-discounted-price {
    font-size: var(--font-ml);
  }

  /* cart item card */

  .card-cart-item {
    height: 35vh;
    position: relative;
  }

  .card-cart-container-item-image {
    height: 35vh;
    width: 35vh;
  }

  .card-cart-item-description {
    padding: var(--space-m);
  }

  .card-cart-item-name {
    font-size: var(--font-ml);
    margin-bottom: var(--space-m);
  }

  .card-cart-item-seller {
    font-size: var(--font-s);
  }

  .card-cart-item-price {
    font-size: var(--font-l);
    font-weight: bolder;
    position: absolute;
    right: var(--space-m);
    top: var(--space-s);
  }

  .card-cart-item-actions-mobile {
    display: none;
  }

  .card-cart-item-actions-desktop {
    position: absolute;
    left: 37vh;
    bottom: 10px;
    display: flex;
  }

  .card-cart-item-delete {
    margin-left: var(--space-l);
  }

  /* rating */
  .rating {
    font-size: var(--font-ml);
  }

  /* top-navbar */
  .top-navbar-mobile-menu {
    display: none;
  }

  .top-navbar-button-brand {
    margin: var(--space-m);
    font-size: var(--font-l);
  }

  .top-navbar-icon {
    margin: var(--space-s) var(--space-m) var(--space-s) 0;
  }
}
