/* fonts - ubuntu, roboto, lato */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Ubuntu&display=swap");

:root {
  --ubuntu: "Ubuntu", sans-serif;
  --lato: "Lato", sans-serif;
  --roboto: "Roboto", sans-serif;

  --theme-primary: #262626;
  --theme-secondary: #404040;
  --bg-primary: #262626;
  --bg-alternate: #f5f5f5;
  --text-primary: #fafafa;
  --text-alternate: #171717;

  --space-xs: 0.25rem;
  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 2rem;
  --space-xl: 5rem;
  --space-custom-10x: 10rem;

  --font-xs: 0.5rem;
  --font-s: 0.75rem;
  --font-m: 1rem;
  --font-ml: 1.2rem;
  --font-l: 1.5rem;
  --font-xl: 2rem;
  --font-xxl: 2.5rem;

  --line-thin: 0.063rem;
  --line-medium: 0.125rem;
  --line-thick: 0.188rem;
}

html {
  height: 100px;

  scroll-behavior: smooth;

  background-color: var(--bg-primary);
  color: var(--text-primary);

  font-family: var(--roboto);
}

body {
  margin: 0;

  width: 100%;

  color: var(--text-primary);
}

/* top navigation bar */
.dashui-top-navbar {
  height: 8vh;
  width: 97.5%;
  padding: var(--space-s) var(--space-m);

  position: sticky;
  top: 0;
  z-index: 999;

  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;

  background-color: #404040;
}

.dashui-top-navbar h1 {
  margin: 0;

  font-family: var(--ubuntu);
  font-size: var(--font-xl);
}

.dashui-top-navbar h2 {
  margin: 0;

  font-family: var(--lato);
  font-size: var(--font-ml);
}

.dashui-top-navbar ul {
  padding: 0;

  display: flex;
  align-items: center;

  color: var(--text-primary);
}

.dashui-top-navbar li {
  margin: var(--space-m);
  list-style: none;
}

.dashui-top-navbar a {
  text-decoration: none;
  color: var(--text-primary);
}

/* ---------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------- */

/* doc site */
.dashui-docsite {
  display: flex;
  flex-direction: row;
}

.dashui-sidenav {
  width: 15%;
  height: 84.5vh;
  padding: var(--space-m);

  position: sticky;
  left: 0;
  top: 10.5vh;

  border-right: var(--line-medium) solid var(--text-primary);

  font-size: var(--font-ml);
  font-family: var(--lato);
}

.dashui-side-dropdown {
  margin: var(--space-s) 0;
  padding: 0;

  border: none;

  cursor: pointer;
  outline: none;

  background-color: transparent;
  color: var(--text-primary);

  text-decoration: none;
  font-size: var(--font-ml);
  font-family: var(--lato);
}

.dashui-side-dropdown-active {
  border-bottom: var(--line-thin) solid var(--text-primary);
  color: var(--text-primary);
}

.dashui-container-dropdown {
  display: none;

  flex-direction: column;

  background-color: var(--bg-primary);
  padding-left: var(--space-m);
}

.dashui-sidenav a {
  color: var(--text-primary);

  text-decoration: none;
}

/* ------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------- */
/* main section */
main {
  width: 85%;
  padding: var(--space-l);
}

main section {
  padding-top: 13vh;
}

main a {
  color: var(--text-primary);
}

.dashui-heading-component {
  margin: 0;

  font-size: var(--font-xl);
  font-family: var(--ubuntu);
}

.dashui-heading-subheading {
  font-size: 1.4rem;
  font-family: var(--lato);
}

.dashui-container-component {
  padding: var(--space-l);

  display: flex;

  border: var(--line-thin) solid var(--text-primary);
  border-radius: 0.3rem;
}

/* ----------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
/* alert */
#container-alert {
  height: 300px;
  padding: var(--space-m) var(--space-custom-10x);

  flex-direction: column;
  justify-content: space-around;
}

/* card */
.card {
  width: 20vw;
}
